html
  head
    link(rel="stylesheet", type="text/css", href="./main.css")
  body
    header
      h1 Jordan Timmerman
      ul.links
        li.email
          a(href="mailto:skorlir@gmail.com") skorlir@gmail.com
        li.github
          a(href="github.com/fluffywaffles") @fluffywaffles
        li.linkedin
          a(href="linkedin.com/in/skorlir")  linkedin.com/in/skorlir
    main
      section.statement
        //- Maximum length: ~200 characters
        p
          | Killer software engineer. Accidental tech lead. Pursuing
          | exponential growth as a technologist, leader, and
          | entrepreneur. Current full-time PhD student, evaluating my
          | options.
      section.engineering-skills-and-interests
        h2 Engineering
        section.skills
          h3 Skills
          section.top5
            h4 Top 5
            aside in order of skill
            ol
              li TypeScript/JavaScript
              li C++
              li CSS
              li Rust
              li AWS
          section.additional
            h4 Additional
            aside in no particular order
            ul
              li Unix
              li Git
              li C#
              li Java
              li Python
              li React
              li Angular 2
              li Serverless
        section.interests
          // IDEA(jordan): replace with "roles" pie-chart?
          h3 Interests
          ul
            li Languages & Tooling
            li Decentralized Computing
            li Infrastructure & DevOps
            li Novel, Intuitive UI
      section.non-technical-skills
        h2 Non-Technical Skills
        section.experience
          aside in order of experience
          ol
            li Sprint Planning
            li Research & Design
            li Team Leadership
            li Teaching / Training
            li Hiring
      section.experience
        h2 Experience
        .roles
          aside in order of impact + experience
          ol
            li Software Architect
            li Software Engineer
            li Internal Tools
            li DevOps
        ul.jobs
          li.phd
            section.period
              time.start September 2019
              span ‒
              time.end Present
            p.description
              | PhD in Computer Science, focused on compilers (esp.
              | autoparallelization, OpenMP, and  C++).
          li.deep-dish
            section.period
              time.start June 2017
              span ‒
              time.end February 2019
            p.description
              | First engineer. Operated daily under the CEO and CTO
              | designing, planning, and executing. I led a team of 4
              | building an offline-first, embeddable forms language,
              | compiler, & visual editor.
              |
              | I had experience with product demos, customer-stakeholder
              | meetings, sprint planning, and technical leadership.
            ul.technologies
              li TypeScript/JavaScript
              li HTML & CSS
              li AWS API Gateway, Lambda, Dynamo, S3
              li Serverless Framework
              li Webpack, Rollup (build tooling)
          li.encurate
            section.period
              time.start June 2016
              span ‒
              time.end December 2016
            p.description
              | Generalist & Backend architect. Built a "serverless"
              | Content Management System. Developed an internal
              | TypeScript model validation library used across the stack.
            ul.technologies
              li TypeScript
              li Angular 2
              li AWS API Gateway, Lambda, DynamoDB, S3
              li Bash (tooling)
          li.mmlc
            section.period
              time.start October 2013
              span ‒
              time.end June 2017
            dl
              dt Northwestern Multimedia Learning Center (MMLC)
              dd
                p.description
                  | I developed full-stack projects in JavaScript, Java,
                  | Python, and PHP, including:
                ul.projects
                  li.audit
                    h3 Audit
                    p.description
                      | Cross-platform embeddable iOS, Android, & browser
                      | audio recording tool, used in the Northwestern
                      | Foreign Language Placement Examinations.
                    ul.technologies
                      li JavaScript
                      li Java WebObjects
                      li PHP
                      li Laravel
                  li.ipad-checkout
                    h3 iPad Checkout & Install Request App
                    p.description
                      | Custom calendar scheduling and Apple App Store API
                      | search form components.
                    ul.technologies
                      li JavaScript
                      li Python
                  li.protest
                    h3 Protest
                    p.description
                      | Research project: online foreign language quizzes
                      | with programmatically generated feedback.
                    ul.technologies
                      li React
                      li JavaScript
                      li PHP
      section.education
        h2 Education
        dl
          dt Northwestern University
          dd
            span.year     2017
            span.degree   BS in Computer Science
  | <script id="__bs_script__">//<![CDATA[
  |    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.3'><\/script>".replace("HOST", location.hostname));
  | //]]></script>
