doctype html
html
  head
    link(rel="stylesheet", type="text/css", href="./main.css")
  body
    header
      h1 Jordan Timmerman
      ul.links
        li.email
          | Email:
          a(href="mailto:skorlir@gmail.com") skorlir@gmail.com
        li.github
          | GitHub:
          a(href="github.com/fluffywaffles") @fluffywaffles
        li.linkedin
          | LinkedIn:
          a(href="linkedin.com/in/skorlir") linkedin.com/in/skorlir
    main
      section.statement
        //- Maximum length: ~200 characters
        p
          | Software Engineer. Led development at an early-stage start-up
          | built on serverless.
        dl.seek-strength-learn
          dt Seeking
          dd
            p.description strong team, personal growth, visible impact
          dt Strengths
          dd
            p.description front-end, interaction design, databases, APIs
          dt Learning
          dd
            p.description scaling, concurrency, distributed systems
      section.experience
        h2 Experience
        ul.jobs
          li.phd
            section.title
              h3 PhD Student (Computer Science)
              small.place Northwestern University
            section.period
              time.start September 2019
              span &nbsp;‒&nbsp;
              time.end Present
            p.description
              | PhD in Computer Science, focused on compilers;
              | particularly: autoparallelization, OpenMP, and  C++.
              | Extended C++ to allow developers to give hints to the
              | compiler, enabling more automatic parallelism.
            ul.technologies
              li C++ (11, 14)
              li LLVM
              li Clang
          li.deep-dish
            section.title
              h3 Software Engineer
              small.place Deep Dish Technology
            section.period
              time.start June 2017
              span &nbsp;‒&nbsp;
              time.end February 2019
            p.description
              | First engineer. Led team of 4 building offline-first,
              | embeddable forms language, compiler, & visual editor in
              | JavaScript and TypeScript. Designed and built extensible
              | type system for high-quality, generated feedback in web
              | forms. Designed multi-tenant repository system for
              | versioning forms and responses for regulatory compliance
              | and auditing.
            ul.technologies
              li TypeScript/JavaScript
              li HTML & CSS
              li AWS API Gateway, Lambda, DynamoDB, S3
              li Serverless
              li Webpack, Rollup
          li.encurate
            section.title
              h3 Software Engineer
              small.place Encurate Mobile
            section.period
              time.start June 2016
              span &nbsp;‒&nbsp;
              time.end December 2016
            p.description
              | Backend architect. Built serverless Content Management
              | System for Museum Apps Platform, now used by 5 museums in
              | the Midwest. Developed a TypeScript validation library
              | using decorators and compiler-emitted type info to
              | generate models from regular classes, with a shallow
              | learning curve for building new validators. This allowed
              | us to share models between front-end and back-end,
              | reducing overall validation effort by half. Taught Angular
              | 2 to team, co-led front-end development.
            ul.technologies
              li TypeScript
              li Angular 2
              li AWS API Gateway, Lambda, DynamoDB, S3
              li Bash (tooling)
          li.mmlc
            section.title
              h3 Student Developer
              small.place Northwestern Multimedia Learning Center
            section.period
              time.start October 2013
              span &nbsp;‒&nbsp;
              time.end June 2017
            p.description
              | Part-time 10-15 hours/week for 4 years. I developed
              | independent, full-stack projects, including:
              dl
                dt.audit
                  strong Audit
                  ul.technologies
                    li JavaScript
                    li Java WebObjects
                    li PHP
                    li Laravel
                dd
                  p.description
                    | Embeddable audio recording app for iOS, Android, &
                    | web, used in the Northwestern Foreign Language
                    | Placement Exam.
                dt.protest
                  strong Protest
                  ul.technologies
                    li React
                    li JavaScript
                    li PHP
                dd
                  p.description
                    | Research project: online foreign language quizzes
                    | with programmatically generated feedback.
      section.engineering-skills-and-interests
        h2 Skills
        section.top5
          h3 Top 5
          ol
            li TypeScript/JavaScript
            li C++
            li CSS
            li AWS
            li Rust
        section.additional
          h3 Additional
          ul
            li Linux/Unix
            li Git
            li SQL
            li C#
            li Java
            li Python
            li React
            li Serverless
            li vim
            li Clojure
        section.non-technical-skills
          h3 Non-Technical
          ol
            li Hiring
            li Research & Design
            li Sprint Planning
            li Team Leadership
            li goto 2;
      section.education
        h2 Education
        .northwestern
          h3 Northwestern University
          small.year     2017
          small.degree   B.S. in Computer Science
  | <script id="__bs_script__">//<![CDATA[
  |    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.3'><\/script>".replace("HOST", location.hostname));
  | //]]></script>
