doctype html
html
  head
    link(rel="stylesheet", type="text/css", href="./main.css")
  body
    header
      h1 Jordan Timmerman
      ul.links
        li.email
          | Email:
          a(href="mailto:skorlir@gmail.com") skorlir@gmail.com
        li.github
          | GitHub:
          a(href="//github.com/fluffywaffles") @fluffywaffles
        li.linkedin
          | LinkedIn:
          a(href="//linkedin.com/in/fluffywaffles") linkedin.com/in/fluffywaffles
    main
      section.statement
        //- Maximum length: ~200 characters
        p
          | Software Engineer. Founding engineer of Better.com platform
          | team during 8x growth. Avid Arch Linux user.
        p
          strong Seeking:
          |  High impact. Bold mission. Rapid career growth.
      section.experience
        h2 Experience
        ul.jobs
          li.better
            section.title
              h3 Software Engineer (Core Tech)
              small.place Better.com
            section.period
              time.start June 2019
              span &nbsp;‒&nbsp;
              time.end Present
            p.description
              | Founding engineer of platform team. Author of
              | strongly-typed libraries used daily by >80% of engineers.
              | Organizer and MC of Core Tech Office Hours, attended
              | monthly by >35% of engineering.
              dl
                dt.better-events
                  strong @better/events
                  ul.technologies
                    li TypeScript
                    li Docker
                    li Terraform
                    li AWS Managed Streaming with Kafka (MSK)
                    li KafkaHQ
                    li Kubernetes
                dd
                  p.description
                    | Strongly-typed event definitions library + client in
                    | TypeScript. Gracefully degrades to JSONSchema in
                    | Python. Used with Kafka on AWS. Strong tooling and
                    | docs: wiki, docker-compose templates, make commands,
                    | worker abstractions.
                dt.office-hours
                  strong Core Tech Office Hours
                  ul.technologies
                    li public speaking
                    li event organization
                    li beer acquisition
                    li friendliness
                dd
                  p.description
                    | Popular monthly event regularly attended by 65+
                    | engineers. Organizer and host. Features include
                    | contributor spotlight, tutorials, updates, Q&A,
                    | beer, pizza. Recently, less beer and pizza, more
                    | Keanu gifs on zoom.
                dt.plaid
                  strong Plaid Integration
                  ul.technologies
                    li TypeScript + Node.js
                    li Ember.js
                    li AWS S3, ActiveMQ
                    li WebSockets
                    li Internal frameworks
                dd
                  p.description
                    | Moved critical third-party bank statement vendor
                    | integration from AccountChek to Plaid. Safely
                    | deployed side-by-side for rapid failover. Increased
                    | conversion to 20% from single digits. Enabled
                    | instantaneous user feedback.
                dt.makefile-includes
                  strong Makefile.includes
                  ul.technologies
                    li make
                    li CI/CD (Buildkite)
                    li Docker
                    li sh, bash
                    li npm
                    li pypi
                    li Artifactory
                dd
                  p.description
                    | Makefile include library with testing framework.
                    | Automates versioning and library publishing,
                    | handling integration-testing against dependents;
                    | abstracts docker commands; generates help text; and
                    | more.
          li.phd
            section.title
              h3 PhD Student (Computer Science)
              small.place Northwestern University
            section.period
              time.start September 2019
              span &nbsp;‒&nbsp;
              time.end June 2019
            p.description
              | Focused on compilers, specifically: autoparallelization,
              | OpenMP, and  C++. Extended C++ to allow developers to give
              | parallelization hints to the compiler. Left program to
              | return to industry.
            ul.technologies
              li C++ (11, 14)
              li LLVM
              li Clang
          li.deep-dish
            section.title
              h3 Software Engineer
              small.place Deep Dish Technology
            section.period
              time.start June 2017
              span &nbsp;‒&nbsp;
              time.end February 2019
            p.description
              | First engineer. Led team of 4 building offline-first,
              | embeddable forms language, compiler, & visual editor in
              | JavaScript and TypeScript. Built generative feedback
              | systems. Designed multi-tenant versioned repository for
              | forms and responses.
            ul.technologies
              li TypeScript/JavaScript
              li HTML & CSS
              li AWS API Gateway, Lambda, DynamoDB, S3
              li Serverless
              li Webpack, Rollup
          li.encurate
            section.title
              h3 Software Engineer
              small.place Encurate Mobile
            section.period
              time.start June 2016
              span &nbsp;‒&nbsp;
              time.end December 2016
            p.description
              | Backend architect. Built serverless Content Management
              | System for Museum Apps Platform. Developed cross-stack
              | TypeScript validation library using decorators and
              | compiler-emitted type info to generate models. Taught
              | Angular 2 to team, led front-end development.
            ul.technologies
              li TypeScript
              li Angular 2
              li AWS API Gateway, Lambda, DynamoDB, S3
              li Bash (tooling)
          li.mmlc
            section.title
              h3 Student Developer
              small.place Northwestern Multimedia Learning Center
            section.period
              time.start October 2013
              span &nbsp;‒&nbsp;
              time.end June 2017
            p.description
              | Over 4 years for 12 hours/week, developed independent,
              | full-stack projects in React, JavaScript, Java WebObjects,
              | and PHP. Built cross-platform audio recording software
              | deployed in Northwestern's online language placement exams
              | supporting iOS, Android, and browsers. (In 2016.)
      section.engineering-skills-and-interests
        h2 Skills
        section.top5
          h3 Top 5
          ol
            li TypeScript/JavaScript
            li Terraform
            li Kubernetes
            li AWS
        section.additional
          h3 Additional
          ul
            li Rust
            li React.js
            li C++
            li CSS
            li Python
            li Linux/Unix
            li vim
            li git
            li PostgreSQL
            li Redis
        section.non-technical-skills
          h3 Non-Technical
          ol
            li Interviewing
            li Hiring
            li Public Speaking
            li Event Organization
            li Beer Acquisition
      section.education
        h2 Education
        .northwestern
          h3 Northwestern University
          small.year     2017
          small.degree   B.S. in Computer Science
  | <script id="__bs_script__">//<![CDATA[
  |    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.3'><\/script>".replace("HOST", location.hostname));
  | //]]></script>
